

html {
  font-size: 16px;
}

body {
  background-color: palegoldenrod;
}

h1, h2 {
  margin: 0;
}

header {
  margin-bottom: 1rem;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark section{
  background-color: #222;
}

.dark h1{
  background-color: #222;
}

.dark h2{
  background-color: #222;
}

main {
  background-color: lightyellow;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30rem;
}

section {
  margin: 1rem 0 0;
  line-height: 1.5rem;
  white-space: pre-line;
}

